<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataScience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
  </head>
  <body>
    <section class="section-container">
      <div class="header-1">
        <div class="profile da">
          <a href="#" class="link-1"><h1>Schedule</h1></a>
          <a href="#" class="link-1"><h1>Tasks</h1></a>
        </div>

        <div>
          <header class="header-3">
            <img
              src="static/images/cognoRise-removebg.png"
              width="280px"
              height="220px"
            />
          </header>
          <div class="schedule">
            <div class="item"><a href="#">Week 1</a></div>
            <div class="item"><a href="#">Week 2</a></div>
            <div class="item"><a href="#">Week 3</a></div>
            <div class="item"><a href="#">Week 4</a></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
